@font-face {
    font-family: '8BIT WONDER';
    src: url('./8BITWONDER.woff') format('woff');
}

* {
    font-family: '8BIT WONDER', sans-serif;
    color: white;
}

body {
    margin: 5px;
    background-color: #222222;
}

button {
    height: 30px;
    border-radius: 5px;
    outline: 2px solid #ff3d84;
    background-color: #222222;
    transition: all 0.1s ease;
    font-size: 12px;
}

button:hover {
    transform: scale(0.95);
}

input[type='range'] {
    appearance: none;
    height: 30px;
    background-color: #555555;
    border-radius: 30px;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background: #ff3d84;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px white;
    transition: all 0.1s ease;
}

input[type='range']:hover::-webkit-slider-thumb {
    transform: scale(0.85);
}

#bar {
    width: 300px;
    object-fit: cover;
    height: 32px;
    image-rendering: pixelated;
}

#macro-recorder-delay-display {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: auto;
    gap: 10px 10px;
}

.grid p {
    margin: 0;
}

.wide {
    grid-column: span 2;
}

.mt {
    margin-top: 10px;
}
