#spectro-tab-button {
    outline-color: red;
    animation: spectro-tab-button-outline-gradient 1s linear 0s infinite alternate;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#spectro-tab-name-span:empty::before {
    content: 'capture current tab';
}

@keyframes spectro-tab-button-outline-gradient {
    0% { outline-color: red; }
    25% { outline-color: yellow; }
    50% { outline-color: green; }
    75% { outline-color: lightskyblue; }
    100% { outline-color: blue; }
}

#spectro-canvas {
    cursor: pointer;
}
