body {
    margin: 0;
    background-color: black;
}

body:not(:hover) #spectro-canvas-controls {
    display: none;
}

#spectro-canvas {
    position: absolute;
    cursor: pointer;
}

#spectro-canvas-controls {
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#spectro-canvas-controls div {
    margin-right: 10px;
}

#spectro-canvas-toggle-orientation-button {
    outline: 2px solid var(--outline-color);
    border-radius: 5px;
    width: 45px;
    text-align: center;
    aspect-ratio: 1;
    font-size: 30;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.1s ease;
}

#spectro-canvas-toggle-orientation-button:hover {
    transform: scale(0.95);
}

#spectro-canvas-color-picker {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#spectro-canvas-color-picker div {
    position: relative;
}

#spectro-canvas-color-picker label {
    pointer-events: none;
    position: absolute;
    top: 10;
}

#spectro-hue-slider {
    background: linear-gradient(90deg,
            hsl(0, 100%, 50%) 0%,
            hsl(36, 100%, 50%) 10%,
            hsl(72, 100%, 50%) 20%,
            hsl(108, 100%, 50%) 30%,
            hsl(144, 100%, 50%) 40%,
            hsl(180, 100%, 50%) 50%,
            hsl(216, 100%, 50%) 60%,
            hsl(252, 100%, 50%) 70%,
            hsl(288, 100%, 50%) 80%,
            hsl(324, 100%, 50%) 90%,
            hsl(360, 100%, 50%) 100%);
}

#spectro-sat-slider::-webkit-slider-thumb,
#spectro-lit-slider::-webkit-slider-thumb {
    background: var(--secondary-color);
}

:root {
    --spectro-hue-slider-thumb-color: hsl(0, 0%, 0%);
}

#spectro-hue-slider::-webkit-slider-thumb {
    background: var(--spectro-hue-slider-thumb-color);
}

#spectro-hue-slider-label {
    color: var(--secondary-color);
}
