@font-face {
    font-family: '8BIT WONDER';
    src: url('chrome-extension://__MSG_@@extension_id__/font/8bitwonder.ttf') format('truetype');
}

.chrome-pwr-url-grab-box {
    position: absolute;
    z-index: 2147483647;
    width: 400px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #222;
    outline: 2px solid #ff3d84;
    resize: both;
}

.chrome-pwr-url-grab-box button {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: black;
    opacity: 0.71;
    font-family: '8BIT WONDER', sans-serif !important;
    color: white;
    text-align: center;
    outline: 2px solid #ff3d84;
    background-color: #222;
    transition: all 0.1s ease;
}

.chrome-pwr-url-grab-box button:hover {
    transform: scale(0.95);
}
